<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CV</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1 th:text="${visitor} ? ${visitor} + ', I hope you interested to hire me' : 'This is my CV'"></h1>
    <h3 style="color: blue">Name: Endrawan Andika Wicaksana</h3>
    <h3 style="color: blue">Birthdate: August 13th, 1998</h3>
    <h3 style="color: blue">Birthplace: Semarang</h3>
    <h3 style="color: blue">Address: Jalan Tampomas No 2A Semarang</h3>
    <h4 style="color: red">Education: Computer Science, University of Indonesia (2016 - present)</h4>
    <h5 style="color: red">I am Endrawan and I have interest in backend</h5>
</body>
</html>
